<!Doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Mobile Angular UI Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="css/mobile-angular-ui-desktop.min.css" />
    <script src="js/socket.io.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/mobile-angular-ui.min.js"></script>
    <!-- Required to use $swipe, $drag and Translate services -->
    <script src="js/mobile-angular-ui.gestures.min.js"></script>
    <script src="js/tellme.js"></script>
    <style>
        .scrollable {
            margin-top: 4em;
        }

        .app {
            background: white;
        }

        .sidebar {
            background: #eee;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="sidebar sidebar-right">
        <div class="scrollable">
            <div class="scrollable-content">
                <form role="form" ng-submit="sendMessage()">
                    <fieldset>
                        <legend>Just Chatting</legend>
                        <div class="form-group">
                            <input ng-model="message" class="form-control" placeholder="enter your message" />
                        </div>
                        <button ng-disabled='!message' class="btn btn-primary btn-block">
                            Submit
                        </button>
                    </fieldset>
                </form>
                <div ng-repeat="message in messages">
                    <p>&nbsp;<span class="pull-right" ng-bind="message.from"></span>
                    </p>
                    <p ng-bind="message.message"></p>
                </div>

            </div>
        </div>
    </div>
    <div class="app" ng-swipe-right="Ui.turnOff('uiSidebarRight')" ng-swipe-left="Ui.turnOn('uiSidebarRight')">
        <!-- Navbars -->

        <div class="navbar navbar-app navbar-absolute-top">
            <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
                Tellme
            </div>
            <div ng-hide="email == null" class="btn-group pull-right" ui-yield-to="navbarAction">
                <div ui-toggle="uiSidebarRight" class="btn">
                    <i class="fa fa-comment"></i> Chat
                </div>
            </div>
        </div>
        <div class="scrollable" ng-hide="email != null">
            <div class="scrollable-content section">

                <form role="form" ng-submit='setAlias()'>
                    <fieldset>
                        <legend>Welcome to Tellme</legend>
                        <p>Please join the conversation about issues with our product by generating an alias for yourself and associating an email with it.</p>
                        <p>We display messages, issues and comments with your alias rather than your email!</p>

                        <div class="form-group has-success has-feedback">
                            <label>From Alias</label>
                            <input ng-model="from" class="form-control" placeholder="Enter alias to identify issues">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" ng-model="pendingemail" class="form-control" placeholder="Enter email">
                        </div>
                        <button class="btn btn-primary btn-block" ng-click="sendEmail()" ng-disabled='!bSendReady()' type="button">Send verification code</button>

                        <div class="form-group">
                            <label>Verification Code</label>
                            <input ng-model="code" class="form-control" placeholder="4 character code from email" />
                        </div>

                        <div class="form-group">
                            <label>Remember Me</label>
                            <ui-switch ng-model='rememberMe'></ui-switch>
                        </div>
                    </fieldset>
                    <hr>

                    <button ng-disabled='!bVerifyReady()' class="btn btn-primary btn-block">
                        Login
                    </button>

                </form>
                <span ng-bind="servermessage"></span>
            </div>
        </div>
        <div class="app-content" ng-hide="email == null">
            <div class="scrollable">
                <div class="scrollable-content">
                    <form role="form" ng-submit="addIssue()">
                        <fieldset>
                            <legend>Issues to Discuss</legend>
                            <div class="form-group has-success has-feedback">
                                <label>Issue Title</label>
                                <input ng-model="issueTitle" class="form-control" placeholder="new issue" />
                            </div>
                            <button ng-disabled='issueTitle == ""' class="btn btn-primary btn-block">
                                Submit
                            </button>
                        </fieldset>
                    </form>
                    <div class="section">
                        <div class="panel-group" ui-state='myAccordion' ui-default='1'>

                            <div class="panel panel-default" ng-repeat="issue in model.issues">
                                <div class="panel-heading" ui-set="{'myAccordion': issue.id}">

                                    <h4 class="panel-title">{{issue.title}}<span class="pull-right">Reporter: {{issue.reporter}}</span></h4>
                                </div>
                                <div ui-if="myAccordion == issue.id" ui-scope-context='issue'>
                                    <div class="panel-body">
                                        <form ng-submit="addComment(issue)">
                                            <fieldset>
                                                <legend>Comments</legend>
                                                <div class="form-group">
                                                    <textarea ng-model="issue.newcomment" class="form-control" placeholder="new comment"></textarea>
                                                </div>
                                                <button ng-disabled='issue.newcomment == ""' class="btn btn-primary btn-block">
                                                    Submit
                                                </button>
                                            </fieldset>
                                        </form>
                                        <div ng-repeat="comment in issue.comments">
                                            <p>&nbsp;<span class="pull-right">Commenter: {{comment.commenter}}</span>
                                            </p>
                                            <p ng-bind='comment.comment'></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
