<!Doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script src="cordova.js"></script>
    <script src="js/socket.io.js"></script>
    <script src="js/angular.js"></script>
    <script>
        angular.module("myApp", []).controller("myCtrl", function ($scope, $http) {
            angular.extend($scope, {
                pendingemail:"",
                from: "",
                email:null,
                code: "",
                socket: null,
                url: document.URL,
                init: function () {
                    if(typeof(localStorage.getItem("email"))!='undefined'){
                        $scope.from = localStorage.from;
                        $scope.email = localStorage.email;
                    }
                    $scope.socket = io($scope.url);
                    document.addEventListener('deviceready', $scope.deviceReady, false);
                    $scope.socket.on("receive message", $scope.receive);
                    $scope.socket.on("receive issue", $scope.update);
                },
                deviceReady: function () {
                    $scope.url = "https://tellme-hildred.rhcloud.com/";
                    $scope.socket = io($scope.url);
                    $scope.socket.on("receive message", $scope.receive);
                    $scope.socket.on("receive issue", $scope.update);
                },
                messages: [],
                model: {
                    issues: []
                },
                receive: function (data) {
                    $scope.messages.unshift(data);
                    $scope.$apply();
                },
                update: function (data) {
                    angular.extend($scope.model, data);
                    $scope.$apply();
                },
                sendMessage: function () {
                    var data = {
                        from: $scope.from,
                        message: $scope.message
                    };
                    $scope.socket.emit('receive message', data);
                    $scope.message = "";
                },
                addIssue: function () {
                    var data = {
                        id: $scope.generateUUID(),
                        reporter: $scope.from,
                        title: $scope.issueTitle,
                        comments: []
                    };
                    $scope.socket.emit('receive issue', data);
                    $scope.issueTitle = "";
                },
                addComment: function (issue) {
                    var data = {
                        id: issue.id,
                        commenter: $scope.from,
                        comment: issue.newcomment
                    };
                    $scope.socket.emit('receive comment', data);
                    issue.newComment = "";
                },
                sendEmail: function(){
                    var data = {
                        email: $scope.pendingemail
                    }
                    $http.post($scope.url + "sendemail", data).success(function(data){
                        $scope.servermessage = data.result.message;
                    });
                },
                setAlias: function(){
                    var data = {
                        email: $scope.pendingemail,
                        code: $scope.code
                    }
                    $http.post($scope.url + "verifyemail", data).success(function(data){
                        if(data.result == "success"){
                            localStorage.email = $scope.email = $scope.pendingemail;
                            localStorage.from = $scope.from;
                        }else{
                            $scope.servermessage = data.result;
                        }
                    });
                },
                bSendReady: function(){
                    return($scope.pendingemail != "" &&  $scope.from != "");
                },
                bVerifyReady: function(){
                    return($scope.bSendReady() && $scope.code != "");
                },
                generateUUID: function () {
                    var d = new Date().getTime();
                    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                        var r = (d + Math.random() * 16) % 16 | 0;
                        d = Math.floor(d / 16);
                        return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
                    });
                    return uuid;
                }
            });
            $scope.init();
        });
    </script>
    <style>
        td:first-of-type {
            background-color: lime;
            width: 10em;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <form ng-submit="setAlias()" ng-hide="email != null">
        <h1>Connect account to your email</h1>
        <input ng-model="from" placeholder="desired alias" />
        <input ng-model="pendingemail" placeholder="enter email address" />
        <button ng-click="sendEmail()" ng-disabled='!bSendReady()' type="button">Send</button>
        <input ng-model="code" placeholder="4 character code from email" />
        <input ng-disabled='!bVerifyReady()' type="submit" />
        <span ng-bind="servermessage"></span>
    </form>
    <div ng-hide="email == null">
        <h1>Issues to Discuss:</h1>
        <form ng-submit="addIssue()">
            <input ng-model="issueTitle" placeholder="new issue" />
            <input type="submit" />
        </form>
        <table>
            <tbody ng-repeat="issue in model.issues">
                <tr>
                    <td ng-bind="issue.reporter"></td>
                    <td ng-bind="issue.title"></td>
                </tr>
                <tr>
                    <td colspan=2>
                        <h2>Comments on this issue:</h2>
                        <form ng-submit="addComment(issue)">
                            <input ng-model="issue.newcomment" placeholder="comment" />
                            <input type="submit" />
                        </form>
                    </td>
                </tr>
                <tr ng-repeat="comment in issue.comments">
                    <td ng-bind='comment.commenter'></td>
                    <td ng-bind='comment.comment'></td>
                </tr>
            </tbody>
        </table>
        <form ng-submit="sendMessage()">
            <h1>Just chatting:</h1>
            <input ng-model="message" placeholder="enter your message" />
            <input type="submit" />
        </form>
        <table>
            <tr ng-repeat="message in messages">
                <td ng-bind="message.from"></td>
                <td ng-bind="message.message"></td>
            </tr>
        </table>
    </div>
</body>

</html>
