<div class="scrollable">
    <div class="scrollable-content">
        <form role="form" ng-submit="sendMessage()">
            <fieldset>
                <legend>Just Chatting</legend>
                <div class="form-group">
                    <input ng-model="message" class="form-control" placeholder="enter your message" />
                </div>
                <button ng-disabled='!message' class="btn btn-primary btn-block">
                    Submit
                </button>
            </fieldset>
        </form>
        <div ng-repeat="message in messages">
            <p>&nbsp;<span class="pull-right" ng-bind="message.from"></span>
            </p>
            <p ng-bind="message.message"></p>
        </div>

    </div>
</div>
